/*  Add your styling here */

body {
  background-color: blueviolet;
}

header {
  background-color: deeppink;
  display: flex;
  flex-flow: row wrap;
  width: auto;
  margin: 0.5em;
  padding: 2em;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 1em;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  margin-top: 0.25em;
}
h3 {
  margin: -2em;
  font-family: "Pacifico", cursive;
  font-size: 1em;
  text-align: center;
  color: lightslategray;
  text-shadow: 0 0 3px #463e3e, 0 0 5px #121213;
}

.hamburger {
  display: none;
}

address {
  font-family: Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  background-color: hotpink;
  font-size: 12px;
}
.contacts {
  display: none;
}

ol {
  text-decoration: none;
  list-style-type: none;
}

.logo {
}
nav {
  background-color: hotpink;
  text-align: center;
  padding-right: 2em;
}

a {
  padding-right: 2em;
}
aside {
  background-color: goldenrod;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  width: 30%;
  order: 0;
  margin: 0.5em;
  align-items: center;
}
.welcome {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: 2em;
}
.info {
  opacity: 0.7;
  position: relative;
  text-align: center;
  background-color: #fff;
  width: 80%;
}

.main {
  width: 80%;
  margin-top: -3em;
}

article {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

/* carousel code  */
.carousel {
  background-color: greenyellow;
  display: flex;
  flex-flow: column wrap;
  width: 60%;
  margin: 0.5em;
  order: 1;
}
.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
body {
  background-color: blue;
}

/* 4 images  */
.image-container {
  background-color: darksalmon;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  order: 2;
}
.box {
  height: 100px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.size {
  width: 100%;
  height: 100%;
}
.box1 {
  background-color: cornflowerblue;
  width: 20%;
  height: 20%;
}

.box2 {
  background-color: crimson;
  width: 20%;
  height: 20%;
}

.box3 {
  background-color: darkolivegreen;
  width: 20%;
  height: 20%;
}
.box4 {
  background-color: darkorange;
  width: 20%;
  height: 20%;
}
figcaption {
  background-color: floralwhite;
}
footer {
  background-color: hotpink;
  text-align: center;
  order: 5;
}

/* media querys */

@media screen and (min-width: 250px) and (max-width: 400px) {
  nav {
    display: none;
  }
  .image-container {
    flex-flow: column wrap;
  }
  .logo {
    width: 30%;
    height: 30%;
    margin: 10%;
  }

  .hamburger {
    display: inline;
    width: 10%;
  }
  address {
    display: none;
  }
  h3 {
    display: none;
  }
  .carousel,
  .info,
  .welcome {
    width: 95%;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    width: 95%;
  }
  aside {
    width: 100%;
    align-items: center;
  }
  header {
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  h3 {
    font-size: 0.5em;
  }
  .title {
    font-size: 1.5em;
  }
  .header-text {
    margin-top: -1em;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
  address {
    display: none;
  }

  .contacts {
    display: inline;
    border-radius: 10px;
    background-color: hotpink;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    font-family: "Pacifico", cursive;
  }
  aside {
    width: 100%;
    margin: 0;
  }
  .carousel {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .contacts {
    display: none;
  }
  .title {
  }

  header {
    align-items: center;
  }
}
