/*  Add your styling here */

body {
  background-color: blueviolet;
}
header {
  background-color: deeppink;
  display: flex;
  flex-flow: row wrap;
  width: auto;
  margin: 0.5em;
  padding: 2em;
  justify-content: space-between;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 4em;
}
.contact {
  text-align: right;
}

.logo {
}
nav {
  background-color: hotpink;
  text-align: center;
  padding-right: 2em;
}

a {
  padding-right: 2em;
}
aside {
  background-color: goldenrod;
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  order: 0;
  margin: 0.5em;
  align-items: right;
}
.main {
  width: 80%;
  margin-top: 2em;
}
.welcome {
  margin-top: -8em;
}

article {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

/* carousel code  */
.carousel {
  background-color: greenyellow;
  display: flex;
  flex-flow: column wrap;
  width: 60%;
  margin: 0.5em;
  order: 1;
}
.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
body {
  background-color: blue;
}

/* 4 images  */
.image-container {
  background-color: darksalmon;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  order: 2;
}
.box {
  height: 100px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.size {
  width: 100%;
  height: 100%;
}
.box1 {
  background-color: cornflowerblue;
  width: 20%;
  height: 20%;
}

.box2 {
  background-color: crimson;
  width: 20%;
}

.box3 {
  background-color: darkolivegreen;
  width: 20%;
}
.box4 {
  background-color: darkorange;
  width: 20%;
}
figcaption {
  background-color: floralwhite;
}
footer {
  background-color: hotpink;
  text-align: center;
  order: 5;
}

/* media querys */

@media screen and (max-width: 400px) {
  nav {
    display: none;
  }
  .image-container {
    flex-flow: column wrap;
  }
  .box1 {
    width: 80%;
  }
  aside {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  aside {
    width: 100%;
    margin: 0;
  }
  .carousel {
    width: 100%;
    margin: 0;
  }
}
